@import "typo";
@import "colors";

@media screen and (min-width: 350px) {
  body {
    background-color: #FAFAFA;
    color: $black;
    font-family: 'Manrope';
    width: 375px;
    margin: auto;
  }

  .hero {
    background-color: $black;
    background-position: center;
    background-size: cover;
    width: 375px;
    height: 92px;
    margin: 50px auto;


    header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: 50px;
      padding: 30px;
    }

    nav {
      display: none;
    }

    button {
      background-color: transparent;
      border: none;

      #cart {
        position: relative;
        display: flex;
        right: 10px;
        font-size: 10px;
        color: $white;
      }
    }

    .signin {
      position: relative;
      color: $white;
      font-family: 'Manrope';
      font-size: 15px;
      left: 40%;

      a {
        color: white;
        text-decoration: none;
      }
    }

    .logBtn {
      position: relative;
      font-family: 'Manrope';
      color: $white;
      font-size: 15px;
      left: 30%;

      a {
        color: white;
        text-decoration: none;
      }

      .welcomeTxt {
        font-family: 'Manrope';
        color: $white;
        font-size: 15px;
        left: 30%;
      }
    }

    hr {
      background-color: rgb(29, 28, 28);
    }
  }

  .checkOut {
    margin: 50px auto;
    width: 327px;
  }

  .checkOut {
    form {
      margin: auto;

      width: 327px;
      height: 1378px;
      border-radius: 5px;
      background: $white;
      border: 1px solid $orange;
    }
  }

  h1 {
    color: $black;
    text-align: left;
    font-family: Manrope;
    font-size: 28px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 1px;
    text-transform: uppercase;
    margin: 40px 24px;
  }

  h4 {
    color: $orange;
    font-family: Manrope;
    font-size: 13px;
    font-style: normal;
    font-weight: 700;
    line-height: 25px;
    letter-spacing: 0.929px;
    text-transform: uppercase;
    margin: 10px 24px;
  }

  .checkOut {
    form {
      label {
        color: #000;
        font-family: Manrope;
        font-size: 12px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        letter-spacing: -0.214px;
        padding-left: 20px;

      }

      input[type="userName"] {
        width: 280px;
        height: 56px;
        flex-shrink: 0;
        border-radius: 8px;
        border: 1px solid #CFCFCF;
        background: #FFF;
        color: $black;
        font-family: Manrope;
        font-size: 14px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        opacity: 0.4000000059604645;
        margin: 10px 24px;
      }

      input[type="email"] {
        width: 280px;
        height: 56px;
        flex-shrink: 0;
        border-radius: 8px;
        border: 1px solid #CFCFCF;
        background: #FFF;
        color: $black;
        font-family: Manrope;
        font-size: 14px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        opacity: 0.4000000059604645;
        margin: 10px 24px;
      }

      input[type="phoneNr"] {
        width: 280px;
        height: 56px;
        flex-shrink: 0;
        border-radius: 8px;
        border: 1px solid #CFCFCF;
        background: #FFF;
        color: $black;
        font-family: Manrope;
        font-size: 14px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        opacity: 0.4000000059604645;
        margin: 10px 24px;
      }

      input[type="adress"] {
        width: 280px;
        height: 56px;
        flex-shrink: 0;
        border-radius: 8px;
        border: 1px solid #CFCFCF;
        background: #FFF;
        color: $black;
        font-family: Manrope;
        font-size: 14px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        opacity: 0.4000000059604645;
        margin: 10px 24px;
      }

      input[type="adress"] {
        width: 280px;
        height: 56px;
        flex-shrink: 0;
        border-radius: 8px;
        border: 1px solid #CFCFCF;
        background: #FFF;
        color: $black;
        font-family: Manrope;
        font-size: 14px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        opacity: 0.4000000059604645;
        margin: 10px 24px;
      }

      input[type="zipCode"] {
        width: 280px;
        height: 56px;
        flex-shrink: 0;
        border-radius: 8px;
        border: 1px solid #CFCFCF;
        background: #FFF;
        color: $black;
        font-family: Manrope;
        font-size: 14px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        opacity: 0.4000000059604645;
        margin: 10px 24px;
      }

      input[type="zipCode"] {
        width: 280px;
        height: 56px;
        flex-shrink: 0;
        border-radius: 8px;
        border: 1px solid #CFCFCF;
        background: #FFF;
        color: $black;
        font-family: Manrope;
        font-size: 14px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        opacity: 0.4000000059604645;
        margin: 10px 24px;
      }

      input[type="userCity"] {
        width: 280px;
        height: 56px;
        flex-shrink: 0;
        border-radius: 8px;
        border: 1px solid #CFCFCF;
        background: #FFF;
        color: $black;
        font-family: Manrope;
        font-size: 14px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        opacity: 0.4000000059604645;
        margin: 10px 24px;
      }

      input[type="userContry"] {
        width: 280px;
        height: 56px;
        flex-shrink: 0;
        border-radius: 8px;
        border: 1px solid #CFCFCF;
        background: #FFF;
        color: $black;
        font-family: Manrope;
        font-size: 14px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        opacity: 0.4000000059604645;
        margin: 10px 24px;
      }

      .radioDiv {
        width: 280px;
        height: 56px;
        flex-shrink: 0;
        border-radius: 8px;
        border: 1px solid #CFCFCF;
        text-align: left;
        margin-top: 20px;
        color: $black;
        font-family: Manrope;
        font-size: 14px;
        font-style: normal;
        font-weight: 700;
        margin: 10px 24px;
      }

      input[type="eMoneyNr"] {
        width: 280px;
        height: 56px;
        flex-shrink: 0;
        border-radius: 8px;
        border: 1px solid #CFCFCF;
        background: #FFF;
        color: $black;
        font-family: Manrope;
        font-size: 14px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        opacity: 0.4000000059604645;
        margin: 10px 24px;
      }

      input[type="eMoneyPin"] {
        width: 280px;
        height: 56px;
        flex-shrink: 0;
        border-radius: 8px;
        border: 1px solid #CFCFCF;
        background: #FFF;
        color: $black;
        font-family: Manrope;
        font-size: 14px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        opacity: 0.4000000059604645;
        margin: 10px 24px;
      }

      input[type="submit"] {
        width: 279px;
        height: 48px;
        flex-shrink: 0;
        border-radius: 8px;
        border: 1px solid #CFCFCF;
        background: $orange;
        color: $white;
        font-family: Manrope;
        font-size: 14px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        text-transform: uppercase;
        margin-left: 24px;
        margin-top: 50px;
      }

    }
  }

  .Cart-Container {
    width: 327px;
    height: 612px;
    position: relative;
    margin: 50px auto;
    flex-shrink: 0;
    background-color: $white;
    border: 1px solid $orange;
    border-radius: 8px;


    .Header {
      margin: auto;
      width: 313px;
      height: 25px;
      display: flex;
      justify-content: space-between;
      gap: 5px;


      .Heading {

        font-family: 'Manrope';
        font-style: normal;
        font-weight: 700;
        font-size: 18px;
        line-height: normal;
        letter-spacing: 1.286px;
        text-transform: uppercase;
        color: $black;
      }

      .Action {


        font-family: 'Manrope';
        font-style: normal;
        font-weight: 500;
        line-height: 25px;
        font-size: 15px;
        text-decoration-line: underline;
        color: $black;
        mix-blend-mode: normal;
        opacity: 0.5;
        cursor: pointer;
      }
    }

    .Cart-Items {
      margin: auto;
      width: 90%;
      height: 30%;
      z-index: 3;
      display: flex;



      .img {
        width: 64px;
        height: 64px;
        flex-shrink: 0;
        border-radius: 8px;
        margin: 10px;
        padding-top: 30px;


      }



      .title {
        color: #000;
        font-size: 12px;
        font-family: Manrope;
        font-style: normal;
        text-transform: uppercase;
        font-weight: 700;
        padding-top: 10px;

      }

      .price {

        color: #000;
        font-size: 14px;
        font-family: Manrope;
        font-style: normal;
        font-weight: 700;
        line-height: 25px;
        opacity: 0.5;
        padding-top: 60px;
        padding-right: 80px;
      }
    }

    .container {
      display: flex;
      flex-direction: row;
      gap: 10px;
      position: relative;
      left: -30%;
      padding-top: 40px;
      cursor: pointer;


      .wrapper {
        width: 96px;
        height: 32px;
        background-color: #F1F1F1;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        text-align: center;



        .minus .plus {
          color: #979797;
          font-family: 'Manrope';
          font-style: normal;
          font-weight: 700;
          font-size: 13px;
          line-height: 18px;
          text-align: center;
          letter-spacing: 1px;
        }

        .num {
          color: $black;
          font-family: 'Manrope';
          font-style: normal;
          font-weight: 900;
          font-size: 13px;
          line-height: 18px;
        }
      }

    }

  }


  .totalContainer {
    display: flex;
    position: absolute;
    height: 25px;
    width: 400px;
    left: 39%;
    top: 2000px;
    justify-content: space-between;

    .total {
      color: $black;
      font-size: 18px;
      font-family: Manrope;
      font-style: normal;
      font-weight: 700;

      width: 64px;

    }

  }

  button.btn {
    width: 279px;
    height: 48px;
    flex-shrink: 0;
    border-radius: 8px;
    border: 1px solid #CFCFCF;
    background: $orange;
    color: $white;
    font-family: Manrope;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
    position: absolute;
    top: 2100px;
    left: 7%;
    z-index: 2;

    margin-left: 24px;
    margin-top: 50px;

  }

  .popup {
    width: 327px;
    height: 600px;
    background-color: #FFF;
    border-radius: 6px;
    border: 1px solid $orange;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, -50%) scale(0.1);
    text-align: center;
    padding: 0 30px 30px;
    visibility: hidden;
    transition: transform 0.4s, top 0.4s;
    z-index: 4;

    h1 {
      color: $orange;
      font-family: Manrope;
      font-size: 30px;
      font-style: normal;
      padding-top: 20px;
    }

    p {
      color: $black;
      font-family: Manrope;
      font-size: 17px;
      font-style: normal;
      padding-top: 40px;
    }

    .backHome {
      width: 279px;
      height: 48px;
      background-color: $orange;
      color: $white;
      border-radius: 3px;
      margin-top: 50px;


      a {
        font-family: Manrope;
        font-size: 17px;
        text-decoration: none;
      }
    }

  }

  .openPopup {
    visibility: visible;
    top: 1850px;
    transform: translate(-50%, -50%) scale(1);
  }

  footer {
    position: absolute;
    top: 2274px;

    .container {
      background-color: $black;
      width: 375px;
      height: 654px;
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-top: 40px;
      padding-top: 52px;

    }

    nav {
      ul {
        flex-direction: column;
        list-style: none;
        padding-top: 48px;
        display: inline-block;
        left: 134px;
        align-items: center;

        li {
          text-align: center;
        }

        a {
          text-align: center;
          justify-content: center;
          font-family: 'Manrope';
          font-style: normal;
          font-weight: 700;
          font-size: 13px;
          line-height: 25px;
          letter-spacing: 2px;
          text-transform: uppercase;
          color: $white;
        }
      }
    }


    p {
      font-weight: 500;
      font-size: 15px;
      line-height: 25px;
      /* or 167% */

      text-align: center;

      color: $white;

      mix-blend-mode: normal;
      opacity: 0.5;
    }

    .social {
      margin-top: 15px;
      width: 150px;
      display: flex;
      gap: 15px;


    }

  }
}